@model BLL.ViewModels.BookAddEditVM

@{

    ViewData["Title"] = "User registration";
}
<h1>Add Book</h1>
<div class="row">
    <div class="col-md-12">
        <form  method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            
                <div>
                    <label asp-for="Name">  </label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="AuthorName"> </label>
                    <input asp-for="AuthorName" class="form-control" />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Price"> </label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Quantity"> </label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
           @* <div>
                <label asp-for="Upload"> </label>
                <input asp-for="Upload" class="form-control" />
                <span asp-validation-for="Upload" class="text-danger"></span>
            </div>*@
                <div>
                    <a asp-action="AddBook" asp-controller="Book" asp-route-pass="@ViewBag.Pass"></a>
                </div>
            <div>

                <input type="file" name="image" value="Upload" accept="image/*">
      
                    <button type="submit" class="btn btn-primary mt-2">Add Book</button>
                </div>

        </form>
    </div>
</div>
