
<!DOCTYPE html>

<html>

<head>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
   
 
    <a asp-action="Index" asp-controller="Book">
        <button id="getBooksButton">Get Books</button>
    </a>
    <a asp-action="Login" asp-controller="Book">
        <button id="addButton">Sign in</button>
    </a>
    <a asp-action="Register" asp-controller="User">
        <button id="signupButton">Sign Up</button>
    </a>
    <div class="jumbotron banner">
        <div class="col-md-12">
            <button type="button" value="GET DISTRIBUTED">GET DISTRIBUTED</button>
            <button type="button" value="GET DISTRIBUTED">GETTING PUBLISHED</button>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    </div>
    @*<div class="col-md-12 section_1">
        <h1>Have An Idea For A Book </h1>
        <div class="container row-padding">
            <div class="col-md-6 section_1_1">
                <p>
                    Let us assist you with your book project.<br />

                    Let's help you go from your manuscript to a
                    professionally published book, and to a
                    possible great seller.<br />
                    Our book self-publishing service enables you,
                    the writer, to fully control your intellectual
                    property rights, and the development of your
                    project.<br />
                    <span>E-book Enquiries</span>
                </p>
            </div>
            <div class="col-md-6 section_1_2">
                <img src="images/121213.png" />
            </div>
        </div>
    </div>*@
    <div class="clearfix"></div>
   @* <div class="container">*@
       @* <h1>Top Article</h1>
        <div class="col-md-12 section_2">
            <div class="col-md-6 section_2_1 section_2_articel">
                <div class="element">
                    <img src="images/28.png" />
                </div>
                <div class="col-md-10">
                    <h1>Ottawa Teachers Can Get Their Books Self-Published</h1>
                    <p>
                        AgoraPublishing.com can help teachers produce high
                        quality designed books with the same quality of a
                        multi-million and billion dollar corporate trade publisher.
                        They can review your manuscript and give you tips on
                        book self-publishing considerations for $50.00
                        Professional Typesetting rates for a ...
                    </p>
                </div>
            </div>*@

            @*<div class="col-md-6 section_2_2 section_2_articel">
                <div class="element">
                    <img src="images/28.png" />
                </div>
                <div class="col-md-10">
                    <h1>Ottawa Teachers Can Get Their Books Self-Published</h1>
                    <p>
                        AgoraPublishing.com can help teachers produce high
                        quality designed books with the same quality of a
                        multi-million and billion dollar corporate trade publisher.
                        They can review your manuscript and give you tips on
                        book self-publishing considerations for $50.00
                        Professional Typesetting rates for a ...
                    </p>
                </div>
            </div>*@

           @* <div class="col-md-6 section_2_3 section_2_articel">
                <div class="element">
                    <img src="images/28.png" />
                </div>
                <div class="col-md-10">
                    <h1>Ottawa Teachers Can Get Their Books Self-Published</h1>
                    <p>
                        AgoraPublishing.com can help teachers produce high
                        quality designed books with the same quality of a
                        multi-million and billion dollar corporate trade publisher.
                        They can review your manuscript and give you tips on
                        book self-publishing considerations for $50.00
                        Professional Typesetting rates for a ...
                    </p>
                </div>
            </div>*@

            @*<div class="col-md-6 section_2_4 section_2_articel">
                <div class="element">
                    <img src="images/28.png" />
                </div>
                <div class="col-md-10">
                    <h1>Ottawa Teachers Can Get Their Books Self-Published</h1>
                    <p>
                        AgoraPublishing.com can help teachers produce high
                        quality designed books with the same quality of a
                        multi-million and billion dollar corporate trade publisher.
                        They can review your manuscript and give you tips on
                        book self-publishing considerations for $50.00
                        Professional Typesetting rates for a ...
                    </p>
                </div>
            </div>*@
       @* </div>*@
</body>

</html>


