@model BLL.ViewModels.LoginUser

<h2>SIGN IN</h2>
<h5 style=" color:red">@ViewBag.Message</h5>
<form method="post" asp-controller="Book" asp-action="AddBooksUser">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="UserName">Login</label><br />
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" type="password" name="password" id="passwordField" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Log in" />
    </div>
</form>